# Web framework
django

# Authentication system with 'batteries included'
django-allauth

# REST
djangorestframework

# Auth API
django-rest-auth

# Bulk API
djangorestframework-bulk

# API filtering
django-filter

# Useful and powerful utils for Django
django-extensions

# PostgreSQL adapter
psycopg2-binary

# Task queue
celery

# Task queue backend and broker
redis

# More powerful Python console
ipython

# Fast creation of model instances. May be used in tests
factory_boy

# Gunicorn web worker
gunicorn

# Swagger spec generator
drf-yasg

# --- Dev dependencies ---

# Debug toolbar
django-debug-toolbar

# Required for `runserver_plus` work
Werkzeug

# Linters
isort
flake8
